{% extends 'base.html' %}
{% block title %} PERMISSION DENIED {% endblock %}
{% block page_div %} PERMISSION DENIED {% endblock %}
{% block navbar %}{% endblock %}
{% block utils %}{% endblock %}

{% block content %}
<div class="px-5 py-10 space-y-4 font-mono lg:text-4xl text-sm mx-auto w-full text-center">
    <div>
        SORRY, YOU DO NOT HAVE PERMISSION <BR>
        TO ACCESS THE REQUESTED DATA.
    </div>
    <div>
        <a href="{% url 'core:home' %}" class="lg:rounded-lg rounded-sm border border-black text-sm lg:text-xl p-2 ml-4 bg-yellow-600 hover:bg-yellow-400 text-white">
            go back home
        </a>
    </div>
</div>
{% endblock %}