{% extends 'base.html' %}
{% block title %} SETTINGS {% endblock %}
{% block page_div %} CHANGE PASSWORD {% endblock %}
{% block navbar %}{% endblock %}
{% block utils %}{% endblock %}

{% block content %}

<div class="lg:text-xl text-sm font-light lg:w-5/6  rounded-sm lg:rounded-xl space-y-4 mx-auto p-2 mt-4 mb-4">

    <div class="hover:bg-orange-400 hover:text-white border border-black hover:border-white bg-orange-200 flex lg:rounded-lg rounded-sm w-full p-4">
        <a href="{% url 'authapp:email_settings' %}" class="size-full">
            <div>
                CHANGE EMAIL
            </div>
        </a>
    </div>

    <div class="hover:bg-orange-400 hover:text-white border border-black hover:border-white bg-orange-200 flex lg:rounded-lg rounded-sm w-full p-4">
        <a href="{% url 'authapp:password_settings' %}" class="size-full">
            <div>
                CHANGE PASSWORD
            </div>
        </a>
    </div>


</div>

{% endblock %}