{%  extends 'base.html' %}

{% block content %}
    <div class="bg-red-200 text-5xl py-10 font-mono text-pretty h-full">
        <div class="text-center text-red-700">
            An error occured<br>
            This resource has been deleted<br>
            Or does not exist
        </div>
        <hr>
        <p class="text-lg text-center mt-4 mb-4 font-mono">-- make sure you entered a valid URL --</p>
        <hr>
        <div class="text-center">
        <a href="{% url 'core:home' %}"><button class="p-20 bg-green-500 rounded-3xl mt-10 text-white"> Go Home </button></a>
        </div>
    </div>


{% endblock %}