{% extends 'base.html' %}
{% load static %}
{% block title %} {% if cat %} {{cat.name | upper}} {% endif %} {{ page_title | upper }} {% endblock %}
{% block page_div %}  {{ page_title }}  {% endblock %}
{% block content %}
     
    <div class="py-2 space-y-2 font-serif">
    <form method="get" class="ml-2">
        <label> filter by category </label>
        <select name="cat" class="border rounded-lg bg-amber-100 w-1/5" onchange="this.form.submit()"> 
            <option value="" selected> all </option>
            {% for cat in categories %}
                <option value="{{ cat.slug }}" {% if category_filter == cat.slug %} selected {% endif %}> {{ cat.name }} </option>
            {% endfor %}
        </select>
    </form>
    {% if all_blogs %}
        {% for blog in all_blogs %}
        <div class="hover:bg-orange-400 hover:text-white border text-xs lg:text-xl border-black hover:border-white bg-orange-200 mx-2 flex lg:rounded-lg rounded-sm px-2 py-1">
            <a href="{% url 'core:blog' blog.id %}" class="size-full">
                    <div class="flex justify-between">
                        <div>
                            <div>{{blog.headline | title }}</div>
                            <div class="scale-75 origin-left">by: {{ blog.author.get_full_name }} -- category: {{ blog.category.name }}  </div>
                            <div class="scale-75 origin-left"> {{ blog.date_created }} </div>
                        </div>
                                <div class="w-1/8 h-0">
                            {% if request.user in blog.bookmarkers.all %}
                                    <img src="{% static 'logos/bookmark_filled.svg' %}" class="ml-auto lg:scale-75 scale-50 origin-top-right">
                            {% else %}
                                    <img src="{% static 'logos/bookmark_clear.svg' %}" class="ml-auto lg:scale-75 scale-50 origin-top-right">
                            {% endif %}
                        </div>
                    </div>

            </a>
        </div>
        {% endfor %}
    </div>
    {% if all_blogs.has_other_pages %}
    <div class="w-full text-center">
        <div class="w-1/2 justify p-1 justify-between inline-flex space-x-10">
            
            {% if all_blogs.has_next %}
            <form method="get" action="." class="mx-auto">
                <input type="hidden" name="p" value="{{all_blogs.next_page_number}}"></input>
                <button class="p-2 lg:px-6 bg-yellow-400 hover:bg-yellow-600 hover:text-white border border-white hover:border-black text-black rounded-sm lg:rounded-lg">
                    next
                </button>
            </form>
            {% endif %}
            {% if all_blogs.has_previous %}
            <form method="get" action="." class="mx-auto">
                <input type="hidden" name="p" value="{{all_blogs.previous_page_number}}"></input>
                <button class="p-2 lg:px-6 bg-yellow-400 hover:bg-yellow-600 hover:text-white border border-white hover:border-black  text-black rounded-sm lg:rounded-lg">
                    prev
                </button>
            </form>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% else %}
    <div class="text-6xl px-10 py-20 text-center font-mono bg-orange-200 mx-2 rounded-xl">
        <div class="lg:text-6xl text-xl px-10 lg:py-24 sm:py-12 text-center font-mono">
            Looks like there's nothing here
        </div>
    </div>
    {% endif %}
{% endblock %}