{% extends 'base.html' %}

{% block content %}
<div class="text-white bg-amber-950 text-5xl py-6 text-center font-bold border-2 border-black"> Blogs by Users </div>
    {% for blog in all_blogs %}
        <a href="{% url 'core:blog' blog.id %}" class="bg-purple-400">
                <div class="m-1">
                    <div class="px-4 border-4">
                        <div class="2/5 text-2xl"> {{ blog.headline }} </div><br>
                        by: {{ blog.author.username }} - {{blog.date_created}}
                        <div class="size-min w-full">Category: {{ blog.category }} </div>
                    </div>
                </div>
        </a>
        {% endfor %}
{% endblock %}