
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} THE BLOG SLUG {% endblock %}</title>
    <link href= "{% static '/src/styles.css' %}"  rel="stylesheet"/>
</head>

<body class="bg-orange-100 contain-content">
    <nav class="bg-yellow-600 px-2 lg:px-6 py-6 flex text-lg text-green-950 lg:justify-between items-center border-b" >
        <div class="lg:w-1/2 w-full">
            <a href="{% url 'core:home' %}" class="font-bold mx-auto text-3xl lg:text-8xl text-gray-950 font-serif ">
              THE BLOG SLUG
            </a>
        </div>

        <div class="lg:w-1/2 w-full mx-auto justify-items-end scale-75 origin-right">
            <div class="lg:space-y-12 space-y-4 text-xs lg:text-2xl">
                <div class="lg:space-y-14 align-middle bg justify-between">
                    <a href="{% url 'core:home' %}" class="lg:p-4 p-1 border-2 font-bold bg-green-500 rounded-sm lg:rounded-xl hover:border-white"> LATEST NEWS</a>
                    <a href="{% url 'core:all_blogs' %}" class="lg:p-4 p-1 border-2 font-bold bg-yellow-400 rounded-sm lg:rounded-xl hover:border-white"> BLOGS </a>
                </div>
                {% if request.user.is_authenticated%}
                <div class="space-x-2 space-y-4 h-full flex-wrap justify-between">
                    <a href="{% url 'authapp:profile' request.user.username %}" class="text-center lg:p-4 p-1 font-bold bg-green-500 rounded-sm lg:rounded-xl border-2 w-1/2 hover:border-white">Dashboard</a>
                    <a href= "{% url 'messagesapp:inbox' 'all' %}" class="text-center lg:p-4 p-1 font-bold bg-yellow-400 rounded-sm lg:rounded-xl border-2 w-1/2 hover:border-white">Messages</a>
                </div>
                <div><a href="{% url 'authapp:logout' %}" class="text-center lg:p-4 p-1 font-bold bg-red-500 text-white rounded-sm lg:rounded-xl border-2 w-1/3 hover:border-black">Logout</a></div>

                {% else %}
                <div class="justify-between flex space-x-3 h-full align-middle bg">
                    <a href="{% url 'authapp:login' %}" class="align-middle lg:p-4 p-1 font-bold bg-green-500 rounded-sm lg:rounded-xl border-2 hover:border-white"> Login</a>
                    <a href= "{% url 'authapp:signup' %}" class="align-middle lg:p-4 p-1 font-bold bg-yellow-400 rounded-sm lg:rounded-xl border-2 hover:border-white"> Signup</a>
                </div>
                {% endif %}
            </div>
        </div>
        

    </div>
    </nav>
    <div class="text-white bg-yellow-600 text-sm lg:text-4xl p-2 text-center font-serif size-fit mx-auto border-b border-x border-black scale-75 origin-top">
        {% block page_div %} {% endblock %}
    </div>

    <main class="overflow-clip text-xs lg:text-xl font-mono inline">
        {% block content %}
        {% endblock %}
    </main>
</body>
<footer class="text-xs lg:text-lg bg-yellow-600 font-serif py-4">
    {% load static %}
    <div class="px-2 flex justify-between">
        <div class="py-2 w-1/3">
            <hr>
            <div class="m-auto inline space-y-2">
                <div class="lg:text-xl text-xs py-2 text-right font-bold">Contact the Dev ▼</div>
                <div class="lg:h-20 flex justify-between mt-2 mb-2">
                    <td class="font-mono">Email- </td>

                    <td><a href="mailto:victorsunny432@gmail.com"><div><img src="{% static 'logos/email.png' %}" class="lg:h-10 h-5"></div></a></td>
                </div>
                <div class="lg:h-20 flex justify-between mb-2">
                    <td class="font-mono">Linkedin- </td>

                    <td><a href="https://www.linkedin.com/in/victor-sunny-6b06ba220/"><div><img src="{% static 'logos/linkedin.png' %}" class="lg:h-10 h-5"></div></a></td>
                </div>
                <div class="lg:h-20 flex justify-between mb-2">
                    <td class="font-mono">Github- </td>

                    <td><a href="https://github.com/victorsunny/"><div><img src="{% static 'logos/github.png' %}" class="lg:h-10 h-5"></div></a></td>
                </div>
            </div>
        </div>

        <div class="w-1/2 mt-14 lg:mr-12 mr-2">
            <hr>
            <div class="font-mono lg:text-`xl text-right">
                Host blogs on <strong>The Blog Slug</strong><br>
                Get feedback<br>
                Connect<br>
            </div>
            <hr>

        </div>
    </div>
    <hr class="rule">
    <div class="text-center py-4">
        © Copyright {% now "Y" %}, <br> The Blog Slug.

    </div>
</footer>
</html>