{% extends 'base.html' %}
{% block content %}
<div class="text-white bg-amber-950 text-5xl py-6 text-center font-bold"> A {{blog.category}} blog by<br>
    {% if request.user == blog.author %}
         <a href="{% url 'core:profile' %}"><button class="bg-amber-400 p-4 rounded-2xl"> {{ blog.author.username }} </button></a>
    {% else %}
          <a href="{% url 'core:profile-specific' blog.author.id %}"><button class="bg-amber-400 p-4 rounded-2xl"> {{ blog.author.username }} </button></a>
   {% endif %}
</div>
    <div class="bg-orange-200 py-10 space-y-10 cl">
        <div class="flex justify-between">
            <div class="px-6">
                <div class="text-2xl space-x-2"><h2 class="font-serif">{{ blog.headline }}</h2> -<strong>{{ blog.author.get_full_name }}</strong> </div>
                <p class="font-bold">{{ blog.date_created }} </p>
            </div>
            <div class="px-6">
                <strong>Last Modified: {{ blog.date_modified }}</strong>
            </div>
        </div>

        <div class="border-2 mt-2 mb-2 p-2 m-1"> {{ blog.body }} </div>
    </div>
{% if request.user == blog.author %}
    <div class="bg-orange-300 w-full justify-between flex">
        <div>
            <a href="{% url 'core:editblog' blog.id %}" class="">
                <button class="bg-blue-800 text-white p-10"> Edit </button>
            </a>
        </div>
        <div>
            <a href="{% url 'core:delete' blog.id %}" class="items-start">
                <button class="bg-red-800 text-white p-10"> Delete </button>
            </a>
        </div>
    </div>
{% endif %}
<div class="px-4 py-20 bg-orange-300 space-y-6">
    <div class="p-6">
        {% if request.user.is_authenticated %}
        <form method="post" action="." class="border-2 rounded-3xl border-white">
            {% csrf_token %}
            <div class=" border-white border-4 mt-2 mb-2 p-2 rounded-2xl block m-2"> {{ form.body }} </div>
            <button class=" border-gray-600 mt-2 m-6 mb-2 p-4 rounded-2xl bg-blue-400 text-white" method="post"> comment </button>
        </form>
        {% else %}
            <a href="{% url 'core:login' %}">
                <div class="rounded-2xl bg-blue-600 text-white p-2"> login to leave a comment </div>
            </a>

        {% endif %}

        {% for comment in blog.comments.all %}
            <div class="bg-yellow-300 text-black mt-6 rounded-2xl">
                <div class="ml-4">
                    {% if request.user == comment.author %}
                        <a href="{% url 'core:profile' %}"><div><h6><strong class="text-lg font-serif"> me </strong></h6></div></a>
                    {% else %}
                        <a href="{% url 'core:profile-specific' comment.author.id %}"><div class="text-lg font-serif"><h6> {{ comment.author.username }} </h6></div></a>
                    {% endif %}
                    <div class="text-lg font-bold mt-2">-- {{comment.body}} </div><br>
                    -{{ comment.date_created }}
                    {% if request.user == comment.author %}
                    <div>
                        <a href="{% url 'core:deletecomment' comment.id %}" class="items-start">
                            <button class="bg-red-800 text-white p-2 mb-2 mt-2 rounded-2xl"> Delete </button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}