{% extends 'base.html' %}
{% block content %}
    <div class="w-full bg-gray-600 flex ">
        <form method="post" action="." class="m-10 w-full space-y-12">
            {% csrf_token %}
            <div class="grid-cols-8">
                <label class="w-2/8">Headline: </label>
                <div class="w-full bg-green-200 rounded-2xl">{{ form.headline }}</div>
            </div>
            <div class="">
                <label class="w-2/8">Article Body: </label>
                <div class="w-full bg-green-200 rounded-2xl">{{ form.body }}</div>
            </div>
        <button class="text-3xl p-6 bg-green-600 text-white rounded-2xl"> PUBLISH </button>
        </form>
    </div>
{% endblock %}