{% extends 'base.html' %}
{% block title %} CONFIRM DELETE {% endblock %}

{% block content %}
    <div class="p-2 mb-4">
        <div class="bg-orange-200 w-3/5 mx-auto p-10 lg:rounded-lg rounded-sm">
            <div class="text-center"> Are You Sure You Want To Delete? </div>
            <div class="flex py-4 justify-between  space-x-4">
                <a href="{% url 'core:delete' blog_id %}"><button class="bg-red-800 hover:bg-red-400 border-2 hover:border-black p-2 lg:p-10 text-white lg:rounded-lg rounded-sm"> Yes </button></a>
                <a href="{% url 'core:blog' blog_id %}"><button class="bg-blue-800 hover:bg-blue-400 border-2 hover:border-black p-2 lg:p-10 text-white lg:rounded-lg rounded-sm"> No </button></a>
            </div>
        </div>
    </div>
{% endblock %}